.works {
  position: relative;
  padding-top: 130px;

  // .works__image
  &__image {
    position: relative;
    border: 2px solid #fff;
    border-bottom: none;
    max-width: 25%;
    &:hover {
      @include works__image-hover;
    }
    &:active {
      @include works__image-active;
    }
  }
  &__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.works__image-name {
  position: absolute;
  top: -1000000;
  left: -1000000;
  @include h4;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

.works__image-user {
  position: absolute;
  top: -10000000;
  left: -1000000;
  @include h5;
  color: #fff;
  text-align: center;
  z-index: 2;
}
